models/*
!models
processed_data/*
!processed_data/wuxia_selected_100000
logs
wuxia_corpus/data/gu/segmented/*
wuxia_corpus/data/awe/segmented/*
wuxia_corpus/data/condor/segmented/*
wuxia_corpus/data/issth

wuxia_corpus/aligners/

src/NMT/configs/__pycache__
.env
results/cualitativa/.env
src/NMT/utils/__pycache__

wuxia_corpus/aligners/vecalign


docs/modelo_autorizacion_RUC_TFG_outono_2023_signed.pdf
docs/Informe-titor-TFG-Hugo-Silvosa.report.pdf
docs/ppt.html
docs/ppt1.png
docs/guion.md
docs/anteproyectotfg.odt
docs/diario.md
docs/ante-anteproyecto.pdf
docs/acl_latex.tex
docs/TFG_FIC_HugoSilvosa.zip
huggingface/

figures/

images/

docs/diario.md

C:\Users\Usuario\Desktop\TFG\CORPUS\docs\diario.md

